<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PetShop{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('register') }}">Register</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('pet') }}">Pet</a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('sell') }}">Sell</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fun') }}">Fun pet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">About</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    {% if not app.user %}
                    <a class="btn btn-secondary my-2 my-sm-0" href="{{ path('login') }}">log in</a>
                    {% else %}
                    <a class="btn btn-secondary my-2 my-sm-0" href="{{ path('logout') }}">Log Out</a>
                    {% endif %}
                </form>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
