{% extends 'base.html.twig' %}

{% block body %}
    <section class="pet">
        <h1 style="margin-left: 40%">
            Petshop list
        </h1>
        {% for pet in pagination %}
            <h2>
                {{ pet.name }}

                {% if app.user and app.user.username == pet.user.username %}
                    <a class="btn btn-success"  href="{{ path('edit_pet', {'id': pet.id}) }}" style="float: right;">Edit Pet</a>
                {% endif %}
            </h2>
            <div class="metadata">
                <div class="row">
                    <div class="col-sm">
                        <img src="{{ pet.image }}" alt="Internet died"; style="width: 100%; height: 100%">
                    </div>
                    <div class="col-sm">
                        <p>
                            {{ pet.content }}
                        </p>
                        <p>
                            Pet Price : {{ pet.price }} €
                        </p>
                        <br/>
                        <a href="{{ path('pet_show', {'id': pet.id}) }}" class="btn btn-primary">
                            Learn more
                        </a>
                        <br/>
                    </div>
                </div>
            </div>
            <hr/>
        {% endfor %}
    </section>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock body %}