{% extends 'base.html.twig' %}

{% block body %}
    <section class="pet">
        <h1 style="margin-left: 40%">
            Petshop list
        </h1>
        {% for pet in pets %}
            <h2>
                {{ pet.name }}
            </h2>
            <div class="metadata">
                <img src="{{ pet.image }}"alt="Internet died">
                <p>
                    {{ pet.content }}
                </p>

                    Pet Price : {{ pet.price }} €
                <br/>
                <a href="{{ path('pet_show', {'id': pet.id}) }}" class="btn btn-primary">
                    Learn more
                </a>
                <br/>
            </div>
            <hr/>
        {% endfor %}
    </section>

{% endblock body %}