{% extends 'base.html.twig' %}

{%  form_theme formComment 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('pet') }}">Back</a>
    <section class="pet">
        <h1>
            {{ pet.name }}
        </h1>
        <div class="metadata">
            <img src="{{ pet.image }}"alt="">
            <p>
                {{ pet.content }}
                <br/>
                Pet Price : {{ pet.price }} €

            </p>
            <hr/>
        </div>
    </section>
    <section>
        <h1>
            Comment
        </h1>
        <hr/>
        <h2>
            Write comment
        </h2>
        {{ form_start(formComment) }}

        {{ form_row(formComment.uid, {'attr': {'placeholder': "username" }, 'label': "Username"}) }}

        {{ form_row(formComment.content, {'attr': {'placeholder': "Comment"}, 'label': "Comment" }) }}

        <p>
            <button type="submit" class="btn btn-success">
                Comment
            </button>
        </p>

        {{ form_end(formComment) }}

        <hr/>

        {% for comment in comments %}
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <img src="{{ comment.image }}" alt="">
                    {{ comment.uid }}
                    <a class="btn btn-success"  href="{{ path('edit', {'id': comment.id}) }}" style="margin-left: 85%">Edit</a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">On {{ comment.createdAt | date('m/d/Y') }} at {{ comment.createdAt | date('H:i') }}</h4>
                    <p class="card-text">{{ comment.content }}</p>
                </div>
            </div>
            <hr/>
        {% endfor %}

    </section>
{% endblock body %}