{% extends 'base.html.twig' %}

{%  form_theme formComment 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('pet') }}">Back</a>

    <section class="pet">
        <h1>
            {{ pet.name }}
        </h1>
        <div class="metadata">
            <div class="row">
                <div class="col-sm">
                    <img src="{{ pet.image }}"alt="" style="height: 100%; width: 100%;">
                </div>
                <div class="col-sm">
                    <p>
                        Seller : {{ pet.user.username }}
                    </p>
                    <p>
                        {{ pet.content }}
                    </p>
                        Pet Price : {{ pet.price }} €
                    </p>
                </div>
                <hr/>
            </div>
        </div>
    </section>
    <section>
        <h1>
            {{ pet.comments | length }} Comment{% if pet.comments | length > 1 %}s{% endif %}
        </h1>
        <hr/>
        {% if app.user %}
        <h2>
            Write comment
        </h2>
        {{ form_start(formComment) }}


        {{ form_row(formComment.content, {'attr': {'placeholder': "Comment"}, 'label': "Comment" }) }}

        <p>
            <button type="submit" class="btn btn-success">
                Comment
            </button>
        </p>

        {{ form_end(formComment) }}
        {% else %}
            <h3>
                Login to add comments !
            </h3>
        {% endif %}
        <hr/>

        {% for comment in pagination %}
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <img src=" {{ comment.user.image }} " alt="net bug" style="width: 50px; height: 50px;">
                    {{ comment.user.username }}
                    {% if app.user and app.user.username == comment.user.username %}
                    <a class="btn btn-success"  href="{{ path('edit_Com', {'id': comment.id}) }}" style="float: right;">Edit Comment</a>
                    {% endif %}
                    commented On {{ comment.createdAt | date('m/d/Y') }} at {{ comment.createdAt | date('H:i') }}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ comment.content }}
                    </p>
                    <a href="{{ path('com_likes', {'id': comment.id}) }}" class="btn btn-outline-info js-like" style="float: right;">
                        {%  if app.user and comment.isLikedByUser(app.user) %}
                            <i class="fas fa-thumbs-up"></i>
                        {% else %}
                            <i class="far fa-thumbs-up"></i>
                        {% endif %}
                        <span class="js-likes"> {{ comment.likes | length}}</span>
                        <span class="js-label"> like{% if comment.likes | length > 1 %}s{% endif %} </span>
                    </a>
                    </a>
                </div>
            </div>
            <hr/>
        {% endfor %}

        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>

    </section>
{% endblock body %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        
        function onClickBtnLike(event) {
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-likes');
            const like = this.querySelector('i');

            axios.get(url).then(function (response) {
                spanCount.textContent = response.data.likes;

                if (like.classList.contains('fas')) {
                    like.classList.replace('fas', 'far');
                } else {
                    like.classList.replace('far', 'fas');
                }
            }).catch(function (error) {
                if (error.response.status === 403) {
                    window.alert('log in to like comments !')
                } else {
                    window.alert('An unknown error has occurred.')
                }
            });
        }

        document.querySelectorAll('a.js-like').forEach(function (link) {
            link.addEventListener('click', onClickBtnLike);
        })


    </script>


{% endblock %}