{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Register on the website
    </h1>
    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.username, {'attr': {'placeholder': "username" }, 'label': "Username"}) }}

    {{ form_row(registrationForm.image, {'attr': {'placeholder': "image url" }, 'label': "Image"}) }}

    {{ form_row(registrationForm.password, {'attr': {'placeholder': "password" }, 'label': "Password"}) }}

    {{ form_row(registrationForm.confirm_password, {'attr': {'placeholder': "confirm password" }, 'label': "Confirm password"}) }}


    <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock body %}